In [2]:
# Import the required library
import numpy as np
import pandas as pd

In [3]:
# Working with numpy array
sales_array = np.loadtxt(fname='sales_data.csv', delimiter=',', dtype=int)

# Preview the sales array
sales_array[:10]

/tmp/ipykernel_171016/1957572002.py:2: DeprecationWarning: loadtxt(): Parsing an integer via a float is deprecated.  To avoid this warning, you can:
    * make sure the original data is stored as integers.
    * use the `converters=` keyword argument.  If you only use
      NumPy 1.23 or later, `converters=float` will normally work.
    * Use `np.loadtxt(...).astype(np.int64)` parsing the file as
      floating point and then convert it.  (On all NumPy versions.)
  (Deprecated NumPy 1.23)
  sales_array = np.loadtxt(fname='sales_data.csv', delimiter=',', dtype=int)

array([ 433, 7683, 4370, 3160, 5324, 2646, 8879, 3071, 1248,  884])

Lets initially Exploratory Data Analysis on the dataset. This will provide a description on the dataset we are working with.

Questions
- How many sales records does the data set contain?
- What is the total number of vehicle sales?
- Do we have any records with ZERO sales?
- Determine the mean and standard deviation if the data?
- Select all the records with above average sales and determine how many records where sales were above average.
- What are the maximum and minimum records in the sales data.
- Determine the cumulative sum across all the sales records.

In [4]:
# How many records does the data contain
np.shape(sales_array)

(100000,)

In [7]:
# Total number of vehicles Sales
total_sales = np.sum(sales_array)

print(f'Total sales is {total_sales:,}')

Total sales is 507,848,676

In [8]:
# Does the data contain a record with zero sales
np.any(sales_array == 0)

False

In [16]:
# Mean and standard deviation of the data set
mean_sales = np.mean(sales_array)

std_sales = np.std(sales_array)

print(f'The mean sales is {mean_sales:,.2f} with a standard deviation of {std_sales:,.2f}')

The mean sales is 5,078.49 with a standard deviation of 2,848.32

In [19]:
# Records above mean sales and the number
np.sum([sales_array > mean_sales])

50010

In [22]:
# Maximum and minimum records of sales
max_sales = np.max(sales_array)
min_sales = np.min(sales_array)

print(f'The maximum sales is {max_sales} while the minimum sales is {min_sales}')

The maximum sales is 9999 while the minimum sales is 150

In [25]:
# Cumulative sum across all the vehicles
np.cumsum(sales_array)

array([      433,      8116,     12486, ..., 507842407, 507846080,
       507848676])

This dataset contain car sales of different models. The column in this data set includes:
- Manufacturer
- Model
- Sales_in_thousands
- __year_resale_value
- Vehicle_type
- Price_in_thousands
- Engine_size
- Horsepower
- Wheelbase
- Width,Length
- Curb_weight
- Fuel_capacity
- Fuel_efficiency
- Latest_Launch
- Power_perf_factor

In [29]:
# Loading the data
car_df = pd.read_csv('car_sales.csv')

# Previewing the data
car_df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [31]:
car_df.shape

(157, 16)

Questions

- Which vehicle manufacturer sold the most
- which vehicle manufacturer sold the least
- Which vehicle type have above everage Engine Size
- Which vehicle model has the highest resale value
- Select the top 10 manufacturer with the highest 4 years car resale values
- What are the top 5 most efficient vehicles
- Which vehicles have an above average 4 year resale value and above average fuel efficiency high fuel effiecieny

In [36]:
# Vehicle manufacturer with most sales
car_df.loc[car_df['Sales_in_thousands'] == car_df['Sales_in_thousands'].max()]

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
56,Ford,F-Series,540.561,15.075,Car,26.935,4.6,220.0,138.5,79.1,224.5,4.241,25.1,18.0,8/16/2012,89.401935

In [37]:
# Vehicle manufacturer with least sales
car_df.loc[car_df['Sales_in_thousands'] == car_df['Sales_in_thousands'].min()]

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
83,Mitsubishi,3000GT,0.11,20.94,Passenger,25.45,3.0,161.0,97.2,72.4,180.3,3.131,19.8,21.0,6/29/2012,67.544155

In [39]:
# Vehicle type with average engine size
avg_car_sales =car_df['Engine_size'].mean()

car_df.loc[(car_df['Engine_size'] > avg_car_sales)]

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2/27/2012,134.656858
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,11/2/2011,71.181451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,Pontiac,Bonneville,35.945,13.225,Passenger,23.755,3.8,205.0,112.2,72.6,202.5,3.590,17.5,24.0,5/18/2011,82.661356
123,Pontiac,Montana,39.572,NaN,Car,25.635,3.4,185.0,120.0,72.7,201.3,3.942,25.0,23.0,7/22/2012,76.208440
125,Porsche,Carrera Coupe,1.280,60.625,Passenger,71.020,3.4,300.0,92.6,69.5,174.5,3.032,17.0,21.0,12/21/2012,134.390975
126,Porsche,Carrera Cabrio,1.866,67.550,Passenger,74.970,3.4,300.0,92.6,69.5,174.5,3.075,17.0,23.0,7/11/2011,135.914710
144,Toyota,Land Cruiser,9.835,34.080,Car,51.728,4.7,230.0,112.2,76.4,192.5,5.115,25.4,15.0,9/25/2011,102.528984

In [40]:
# Highest resale value
max_resale_value = car_df['__year_resale_value'].max()

car_df.loc[(car_df['__year_resale_value'] == max_resale_value)]

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
126,Porsche,Carrera Cabrio,1.866,67.55,Passenger,74.97,3.4,300.0,92.6,69.5,174.5,3.075,17.0,23.0,7/11/2011,135.91471

In [41]:
# Manufacturer with highest resale
car_df[['Manufacturer', 'Model', '__year_resale_value']].sort_values(by='__year_resale_value', ascending=False).head(10)

    Manufacturer           Model  __year_resale_value
126      Porsche  Carrera Cabrio               67.550
125      Porsche   Carrera Coupe               60.625
95    Mercedes-B        SL-Class               58.600
39         Dodge           Viper               58.470
94    Mercedes-B         S-Class               50.375
93    Mercedes-B         E-Class               41.450
124      Porsche          Boxter               41.250
73         Lexus           LS400               40.375
6           Audi              A8               39.000
24     Chevrolet        Corvette               36.225

In [42]:
# top 5 most efficient vehicles
car_df[['Manufacturer', 'Model', 'Fuel_efficiency']].sort_values(by='Fuel_efficiency', ascending=False).head(5)

    Manufacturer    Model  Fuel_efficiency
26     Chevrolet    Metro             45.0
136       Toyota  Corolla             33.0
130       Saturn       SC             33.0
129       Saturn       SL             33.0
25     Chevrolet    Prizm             33.0

In [43]:
# Vehicles with an above average resale value and above average fuel efficiency

(
    car_df
    # lets index the row
    .loc[
        ((car_df['__year_resale_value'] > car_df['__year_resale_value'].mean())) &
        (car_df['Fuel_efficiency'] > car_df['Fuel_efficiency'].mean())
    ]
)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,1/29/2012,81.877069
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,4/4/2011,83.998724
12,Buick,Park Avenue,27.851,20.190,Passenger,31.965,3.8,205.0,113.8,74.7,206.8,3.778,18.5,24.0,3/23/2012,85.828408
65,Infiniti,I30,23.713,19.690,Passenger,29.465,3.0,227.0,108.3,70.2,193.7,3.342,18.5,25.0,4/15/2012,92.436889
92,Mercedes-B,C-Class,18.392,26.050,Passenger,31.750,2.3,185.0,105.9,67.7,177.4,3.250,16.4,26.0,4/24/2011,78.280731
93,Mercedes-B,E-Class,27.602,41.450,Passenger,49.900,3.2,221.0,111.5,70.8,189.4,3.823,21.1,25.0,7/12/2011,98.249737
138,Toyota,Avalon,63.849,18.140,Passenger,25.545,3.0,210.0,107.1,71.7,191.9,3.417,18.5,26.0,8/31/2011,84.911898