In [2]:
# Import the required library
import numpy as np
import pandas as pd

In [3]:
# Working with numpy array
sales_array = np.loadtxt(fname='sales_data.csv', delimiter=',', dtype=int)

# Preview the sales array
sales_array[:10]

/tmp/ipykernel_171016/1957572002.py:2: DeprecationWarning: loadtxt(): Parsing an integer via a float is deprecated.  To avoid this warning, you can:
    * make sure the original data is stored as integers.
    * use the `converters=` keyword argument.  If you only use
      NumPy 1.23 or later, `converters=float` will normally work.
    * Use `np.loadtxt(...).astype(np.int64)` parsing the file as
      floating point and then convert it.  (On all NumPy versions.)
  (Deprecated NumPy 1.23)
  sales_array = np.loadtxt(fname='sales_data.csv', delimiter=',', dtype=int)

array([ 433, 7683, 4370, 3160, 5324, 2646, 8879, 3071, 1248,  884])

Lets initially Exploratory Data Analysis on the dataset. This will provide a description on the dataset we are working with.

Questions
- How many sales records does the data set contain?
- What is the total number of vehicle sales?
- Do we have any records with ZERO sales?
- Determine the mean and standard deviation if the data?
- Select all the records with above average sales and determine how many records where sales were above average.
- What are the maximum and minimum records in the sales data.
- Determine the cumulative sum across all the sales records.

In [4]:
# How many records does the data contain
np.shape(sales_array)

(100000,)

In [7]:
# Total number of vehicles Sales
total_sales = np.sum(sales_array)

print(f'Total sales is {total_sales:,}')

Total sales is 507,848,676

In [8]:
# Does the data contain a record with zero sales
np.any(sales_array == 0)

False

In [16]:
# Mean and standard deviation of the data set
mean_sales = np.mean(sales_array)

std_sales = np.std(sales_array)

print(f'The mean sales is {mean_sales:,.2f} with a standard deviation of {std_sales:,.2f}')

The mean sales is 5,078.49 with a standard deviation of 2,848.32

In [19]:
# Records above mean sales and the number
np.sum([sales_array > mean_sales])

50010

In [22]:
# Maximum and minimum records of sales
max_sales = np.max(sales_array)
min_sales = np.min(sales_array)

print(f'The maximum sales is {max_sales} while the minimum sales is {min_sales}')

The maximum sales is 9999 while the minimum sales is 150

In [25]:
# Cumulative sum across all the vehicles
np.cumsum(sales_array)

array([      433,      8116,     12486, ..., 507842407, 507846080,
       507848676])